# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
src/assets/images/com1.webp
src/assets/images/com2.webp
src/assets/images/com3.webp
src/assets/images/com4.webp
src/assets/images/com5.webp
src/assets/images/com6.webp
src/assets/images/com7.webp
src/assets/images/com8.webp
src/assets/images/com9.webp
src/assets/images/com10.webp


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
